{% extends "layouts/base.html" %}

{% block title %} Maps {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Production</h5>
        <p class="category">Features</p>
      </div>
      <div class="card-body all-icons">
        <div class="row">
          <div class="font-icon-list col-lg-12 col-md-6 col-sm-6 col-xs-6 col-xs-6">
            <h5 class="text-center">Market Status Data</h5>
            <div class="font-icon-detail">
              <div class="row">
                <div class="col-md-12">
                  <div class="card ">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table tablesorter " id="">
                          <thead class=" text-primary">
                            <tr>
                              <th>
                                SYMBOL
                              </th>
                              <th>
                                BID
                              </th>
                              <th>
                                ASK
                              </th>
                              <th class="text-center">
                                PREVIOUS CLOSE
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                AAPL
                              </td>
                              <td>
                                Passed
                              </td>
                              <td>
                                Passed
                              </td>
                              <td class="text-center">
                                Passed
                              </td>
                            </tr>
                            <tr>
                              <td>
                                NVDA
                              </td>
                              <td>
                                Passed
                              </td>
                              <td>
                                Passed
                              </td>
                              <td class="text-center">
                                Passed
                              </t0d>
                            </tr>                       
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <div class="font-icon-list col-lg-12 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <h5 class="text-center">Citrix Health Check Up</h5>
            <div class="font-icon-detail">
              <a>abc</a>
            </div>
          </div>    
        </div>
      </div>
      <div class="card-body all-icons">
        <div class="row">
          <div class="font-icon-list col-lg-12 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <h5 class="text-center">System Health Monitoring</h5>
            <div class="font-icon-detail">
              <a href="#">abc</a>
            </div>
          </div>
          <div class="font-icon-list col-lg-12 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <h5 class="text-center">Process Monitoring</h5>
            <div class="font-icon-detail">
              <a href="#">abc</a>
            </div>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  
{% endblock javascripts %}
