{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Simple Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  abc
                </th>
                <th>
                  abc
                </th>
                <th>
                  abc
                </th>
                <th class="text-center">
                  abc
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  data
                </td>
                <td>
                  data
                </td>
                <td>
                  data
                </td>
                <td class="text-center">
                  data
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
