{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title">System Health Monitoring for MM17-PROD</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Check
                </th>
                <th class="text-center">
                  Status
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Disk space utilization
                </td>
                <td class="text-center">
                  11%
                </td>
              </tr>
              <tr>
                <td>
                  Read and Write
                </td>
                <td class="text-center">
                  Available
                </td>
              </tr>
              <tr>
                <td>
                  Free Memory
                </td>
                <td class="text-center">
                  53618
                </td>
              </tr>
              <tr>
                <td>
                  Inbound Fix Connection
                </td>
                <td class="text-center">
                  Total tested=3 Connected=3 Telnet=0 Failed=0
                </td>
              </tr>
              <tr>
                <td>
                  Outbound Fix Connection
                </td>
                <td class="text-center">
                  Total tested=3 Connected=3 Telnet=0 Failed=0
                </td>
              </tr>
              <tr>
                <td>
                  ACT Connection
                </td>
                <td class="text-center">
                  Total tested=3 Connected=3 Telnet=0 Failed=0
                </td>
              </tr>
              <tr>
                <td>
                  ORF Connection
                </td>
                <td class="text-center">
                  Total tested=3 Connected=3 Telnet=0 Failed=0
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
